################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Client/bin/
/Client/obj
*.user
/Server/bin/
/Server/obj
/Shared/bin/
/Shared/obj
/Server/keys.json
